body {
  background-color: #e8e8e8;
  overflow: hidden;
  height: 560px;
  max-height: 560px;
}

* {
  outline: none !important;
}

/*---- Not Selectable ----*/
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

/*---- Drag'n'Drop ----*/
.draggable {
  position: absolute;
  top: 52px;
  left: 0px;
  width: 100%;
  height: calc(100% - 52px);
  padding: 30px;

  background: rgba(208, 208, 208, 0.84);
  text-align: center;
  -webkit-app-region: drag;

  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;

  z-index: 0;
}

.draggable.dragover {
  opacity: 1;
  visibility: visible;

  z-index: 999;
}

.draggable .border {
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-width: 15px;
  border-color: rgba(35, 35, 35, 0.4);
  border-style: solid;
}

.draggable .border h2 {
  color: rgba(35, 35, 35, 0.7);
}


/*---- Index Controller ----*/
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #9d9d9d;
  cursor: inherit;
}

.navbar-inverse {
  border-radius: 0px;
  margin-bottom: 0px;
}

a:hover, a img {
  text-decoration: none;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  margin-left: 3px;
}

.before-avatar {
  display: inline-block;
  position: absolute;
  height: 30px;
}

.dropdown a, .before-avatar {
  transition: all 0.5s ease;
}

.dropdown-toggle.with-avatar:hover .before-avatar {
  box-shadow: inset 0px 0px 4px 1px rgba(255,255,255,0.5);
}

.dropdown-toggle.with-avatar {
  padding: 10px;
}

.just-right {
  padding-right: 0px;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown li a{
  color: #999;
}
.inverse-dropdown li a:hover{
  color: #fff;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #2f2f2f 100%);
}
.inverse-dropdown .divider {
  background-color: #000;
}


.navbar-icon {
  font-size: 15px;
}

.btn-dark {
  color: #eee;
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  text-shadow: 0 1px 0 #4c4c4c;
  border-radius: 0px;
  margin-bottom: 10px;
}

.btn-dark:hover, .btn-dark:focus {
  background-color: #222;
  color: #eee;
  background-position: 0 -15px;
  background-repeat: repeat-x;
}

.btn-dark:active {
  color: #ddd;
  background-color: #484848;
}

.button-right-image.btn {
  width: 100px;
}

.serial-loading {
  background-size: cover;
  background-position: right top;
}

.light-background {
  background-color: #e8e8e8;
  width: 496px;
}

.current-episode {
  margin-top: 10px;
  font-size: 1.2em;
}

.btn-myshows {
  padding: 3px 8px;
  font-size: 10px;
  /*margin-top: -30px;
  margin-left: 9px;*/
}

.serial-image {
  z-index: 1;
  position: relative;
}

.clearfix {
  clear: both;
}

.serial-image {
  float: left;
}

input {
  transition: all 0.5s ease;
}

.text-loading {
  position: relative;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  top: calc(50% - 10px);
  font-size: 2em;
}

.height-550 {
  height: 550px;
}
.loading-main {
  top: calc(50% - 180px);
}

[ng-show="$ctrl.noInternet"] {
  margin-top: calc(25%);
 }
 .authInfo-screen {
   height: 560px;
 }

 .authInfo-titleNbutton {
   text-align: center;
    position: relative;
    top: 30%;
 }

.radio label, .checkbox label {
  font-weight: bold;
}

label span[title] {
  border-bottom: 1px dotted #000;
  pointer-events: bounding-box;
  cursor: help !important;
  color: #404040;
}

.form-control {
  border-radius: 0px;
}

.form-control:focus {
    border-color: #969696;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(166, 169, 171, 0.6);
  }

.btn-noBorderRadius {
  border-radius: 0px;
}

.success-icon {
  font-size: 1.3em;
  margin-left: 10px;
  color: #419641;
  border: 1px;
  border-style: solid;
  padding: 3px;
  float: right;
}

[href="#"] {
  cursor: default !important;
}

/*---- close serial tab ----*/

.close-serial-tab {
  position: fixed;
  width: 70px;
  height: 30px;
  right: 297px;
  top: 60px;
  overflow: hidden;
}

.close-serial-tab, .close-serial-tab * {
  cursor: pointer;
  transition: all 0.5s ease;
}

.close-serial-tab span {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 13px;
  width: 30px;
  height: 5px;
  background-color: #000;
  border-radius: 2px;

}

.close-serial-tab .close-word {
  display: inline-block;

  font-size: 1.1em;
  line-height: 2.1em;
  color: #fff;

  position: relative;
  right: -5px;
  z-index: 2;

  opacity: 0;
  transform: translateX(120px);
}

.close-serial-tab:hover span {
    width: 72px;
    height: 26px;
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}

.close-serial-tab:hover .close-word {
  transform: translateX(0px);
  opacity: 1;
}

.close-serial-tab span:nth-child(2) {
  transform: rotate(45deg);
}

.close-serial-tab span:nth-child(3) {
  transform: rotate(-45deg);
}

.close-serial-tab:hover span:nth-child(2), .close-serial-tab:hover span:nth-child(3) {
  transform: rotate(0);
}

.close-serial-tab:hover span:nth-child(2) {
  transform: translateY(10px);
}

.close-serial-tab:hover span:nth-child(3) {
  transform: translateY(-10px);
}

.notfound {
  color: #e8e8e8;
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  position: relative;
  left: -15px;
  width: 104%;
  padding-left: 35px;
  padding-top: 0px;
}

.notfound .close-serial-tab {
    top: 189px;
    right: 5px;
}

.notfound .close-serial-tab span, .webServerStatus .close-serial-tab span {
    background-color: #fff;
}

.notfound .close-serial-tab .close-word, .webServerStatus .close-serial-tab .close-word {
    color: #373737;
}

.notfound .close-serial-tab:hover span, .webServerStatus .close-serial-tab:hover span {
    background-image: linear-gradient(to bottom, #d4d4d4 0%, #cacaca 100%);
}

.elementRate {
  width: 320px;
}

.elementRate > span {
  padding-top: 5px;
}

.elementRate > span.glyphicon {
  position: relative;
  top: 3.5px;
  left: 5px;

  color: #ae0000;
  font-size: 1.2em;
}

.elementRate > span:last-of-type {
  position: relative;
  top: 4px;

  font-size: 0.9em;
  color: #808080;

  float: right;
}

.button-right-image {
  height: 180px;
  position: relative;
}

.button-right-image button:last-of-type {
  position: absolute;
  bottom: -10px;
  left: 320px;
}

.button-right-image button:last-of-type,
.button-right-image button:last-of-type:hover {
  cursor: default;
}

.button-right-image .btn-dark {
    width: 145px;
}

.webServerStatus {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  color: #fff;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  width: 96%;
}

.webServerStatus .close-serial-tab {
    top: initial;
    bottom: 16px;
    right: 23px;
}

.webServerStatus p {
  position: relative;
  top: 5px;
  left: 5px;
}
