.serial-loading.ng-hide-add,
.height-550.ng-hide-add,
.authInfo-screen.ng-hide-add {
  animation: 0.5s fadeOut ease, 0.5s bgToRight ease;
}

.serial-loading.ng-hide-remove,
.text-loading.ng-hide-remove,
.height-550.ng-hide-remove,
.authInfo-screen.ng-hide-remove,
.success-icon.ng-hide-remove {
  animation: 0.5s fadeIn ease, 0.5s bgFromRight ease;
}


.navbar-brand .ng-hide-add {
  animation: scaleToX 0.5s  ease;
}

.navbar-brand .ng-hide-remove {
  animation: scaleFromX 0.5s ease;
}
.personal-player-input.ng-hide-add {
  animation: toTop 0.5s  ease;
}

.personal-player-input.ng-hide-remove {
  animation: fromTop 0.5s ease;
}

.change-tabs.ng-enter,
.change-tabs.ng-leave,
button:disabled {
  transition: all 0.5s ease;
}

.change-tabs.ng-enter,
.change-tabs.ng-leave {
  position: absolute;
}

.change-tabs.ng-enter, .newSerialClass {
  animation: 0.5s fromLeft ease;
}
.change-tabs.ng-leave {
  animation: 0.5s toRight ease;
}

.episode-check.ng-hide-add, .button-right-image.ng-hide-add {
  animation: 1s toLeftCheckButton ease-in-out;
  z-index: 0;
  position: relative;
}

.button-right-image.ng-hide-remove {
  animation: 1s fromLeftCheckButton ease-in-out;
  z-index: 0;
  position: relative;
}

@keyframes fromLeft {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes toRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(800px);
  }
}

@keyframes toLeftCheckButton {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-200px);
  }
}
@keyframes fromLeftCheckButton {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes bgFromRight {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

@keyframes bgToRight {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleFromX {
  from {
    transform: scaleX(0);
    width: 0px;
  }
  to {
    transform: scaleX(1);
    width:15px;
  }
}

@keyframes scaleToX {
  from {
    transform: scaleX(1);
    width: 15px;
  }
  to {
    transform: scaleX(0);
    width: 0px;
  }
}

@keyframes fromTop {
  from {
    transform: scaleY(0) translateY(-200%);
    opacity: 0;
  }
  to {
    transform: scaleY(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes toTop {
  from {
    transform: scaleY(1) translateY(0px);
    opacity: 1;
  }
  to {
    transform: scaleY(0) translateY(-200%);
    opacity: 0;
  }
}
