<div class="serial-loading" ng-show="isLoaded" style="background-image: url({{serialPage.background}})">
  <div class="light-background">
    <div class="container-fluid">
      <div class="close-serial-tab" ng-click="closeSerialTab()">
        <div class="close-word">
          Закрыть
        </div>
        <span></span>
        <span></span>
      </div>
      <h2 class="title">{{myshowsInfo.byFile.ruTitle}}</h2>
       <p>
         Последняя просмотренная серия:
         <b>{{myshowsInfo.lastEpisode.shortName}}</b>
       </p>

      <img class="serial-image" ng-src="{{myshowsInfo.byFile.image}}">
      <div class="button-right-image" ng-show="buttonsRightImageShow">
        <a class="btn btn-dark" ng-click="openExternal('https://myshows.me/view/'+myshowsInfo.currentEpisode.showId+'/')">MyShows</a>
        <button class="btn btn-dark episode-check" ng-click="checkEpisode()" ng-disabled="checkButton.disabled" ng-hide="myshowsInfo.currentEpisode.watchStatus">{{checkButton.text}}</button>
      </div>
      <div class="clearfix"></div>
      <p class="current-episode">Смотришь: <b>{{myshowsInfo.currentEpisode.shortName}}</b></p>

    </div>
  </div>
</div>

<div class="uil-facebook-css loading serial-loading" ng-hide="isLoaded">
  <div></div><div></div><div></div>
</div>
