<div class="container-fluid">
  <form action="#" name="settingsForm" style="margin-top: 15px;">
    <div class="checkbox">
      <label><input type="checkbox" ng-change="$ctrl.checkDifference()" ng-model="$ctrl.appSettings.autoCheck.enabled"> Автопроверка (<span title="Проверять плеер на то запущен он или нет">?</span>)</label>
    </div>
    <div class="form-group">
      <label>Период проверки (в секундах) (<span title="С какой периодичностью приложение будет проверять плеер">?</span>):</label>
      <input type="number" class="form-control" ng-disabled="!$ctrl.appSettings.autoCheck.enabled" ng-model="$ctrl.periodInSecond" ng-change="$ctrl.periodToMs()">
      <br>
      <label>Плеер (<span title="Какой именно плеер нужно использовать. При выборе своего вариант запишите название процесса плеера без расширения">?</span>):</label>
      <select class="form-control" ng-options="item as item.label for item in $ctrl.playerOptions track by item.process" ng-change="$ctrl.changeOption()" ng-model="$ctrl.playerOptionCurrent">
      </select>
      <br>
      <input type="text" class="form-control personal-player-input" ng-hide="$ctrl.playerOptionCurrent.process != 'None'" ng-change="$ctrl.checkDifference()" ng-model="$ctrl.appSettings.playerProcess">
    </div>
  </form>
  <button ng-class="$ctrl.saveButtonClass" ng-disabled="$ctrl.isSettingsSaved" ng-click="$ctrl.saveSettings()">{{$ctrl.saveButtonText}}</button>
  <span class="success-icon" ng-show="$ctrl.isSettingsSaved">✓</span>
</div>
