<nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MScrobbler <span ng-show="$ctrl.title.playStatus" class="glyphicon glyphicon-play navbar-icon"></span></a>
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">{{$ctrl.title.scrobblerTab}}</a>
            </li>
            <li>
              <a ng-click="$ctrl.RefreshStatus()">Обновить</a>
            </li>
            <li>
              <a ng-click="$ctrl.toogleDevTools()">Консоль</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse just-right">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle with-avatar" data-toggle="dropdown">
                {{$ctrl.username}} <div class="before-avatar avatar"></div> <img ng-src="{{$ctrl.avatar}}" class="avatar"> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu inverse-dropdown">
                <li><a href="#">Настройки</a></li>
                <li class="divider"></li>
                <li><a ng-click="$ctrl.logout()">Выход</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>



<div class="draggable" id="drag-file">
  <div class="border">
    <h2>Перетащите видеофайл сюда</h2>
  </div>
</div>

<tab></tab>
